*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
                                                                                                                        /*REGOLE DI DEBUG*/
                                                                                                                       .container3{
                                                                                                                        background-color: rgb(246, 246, 246);
                                                                                                                       }
                                                                                                                       .container4{
                                                                                                                        background-color: white;
                                                                                                                       }
                                                                                                                       .container5{
                                                                                                                        background-color: rgb(246, 246, 246);
                                                                                                                       } 
                                                                                                                       .content-five{
                                                                                                                        b
                                                                                                                        border: 1px solid black;
                                                                                                                       }
                                                                                                                       .container6{
                                                                                                                        background-color: lightgray;
                                                                                                                       }
                                                                                                                       
.top-header{
    width: 100%;
    height: 50px;
    padding-top: 30px;
    background-color: rgb(37, 94, 233);
}
.FlexHeader{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.logo{
    width:250px;
    align-items: center;
    flex-direction: row; 

}
.ullist{
    list-style: none;
    display: flex;
}
li,a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.link{
    width: 500px;
    padding-top: 20px;
}
.login{
    width: 250px;
    padding-left: 110px;
    align-items: center;
}
#button-login{
  width: 60px;
  height: 30px;
  border-radius: 20px;
  border: none;
}
.logoimg{
    padding-left: 10px;  
}
.container1, .container2, .container3, .container4{
    width: 100%;
    height: 600px;
    padding-top: 80px; 
} 

.container1{
    background-image: url(/img/jumbo.png);
    background-size:cover;
    padding-top: 250px;
    }
.content-one{
    width: 800px;
    height: 300px;
    margin: 0 auto; 
    text-align: center;
}  
.content-one h1{
    color: white;
    padding-bottom: 20px;
    font-size: 40px;
}
.content-one p{
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}
#scarica{
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border: none; 
}
#apri{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none; 
    background-color: black;
}
#scarica a {
    color:black;
    font-size: 17px;
    padding-right: 10px;
}
#apri a{
    font-size: 17px;
    padding-left: 3px;
}
.content-two, .content-three, .content-four, .content-six{
    display: flex;
    height: 400px;
    width: 1000px;
    margin: 0 auto;
}
.content-photo2, .content-photo3, .content-photo4{
    width: calc(65%);
    height: 100%;
    
    padding-right: 20px;
}
.content-text2, .content-text3, .content-text4{
    width: calc(35%);
    height: 100%;
} 
.content-three{
    flex-direction: row-reverse;
}
.container5{
    
    width: 100%;
    height: 1000px;
    padding-top: 50px;      
}
.content-five{
    height: 700px;
    width: 1000px;
    margin: 0 auto;
}
.container6{
    width: 100%;
    height: 550px;
    padding-top: 10px;
    background-color: rgb(35, 39, 42);   
}
.content-six{
    display: flex;
    height: 450px;
    width: 1000px;
    margin: 0 auto; 
    padding-bottom: 20px;
}
.col1{
    height: 270px;
    width: 200px;
    padding-top: 20px;
}
.col2{
    height: 270px;
    padding-right: 30px;
    width: 200px;  
    
}
.bottomfooter{
    background-color: black;
    width: 100%;
    height: 100px;
    padding-top: 30px;
}
.flexfooter{
    background-color: blue;
    display: flex;
    width: 1000px;
    height:70px;
    margin: 0 auto;
    border: 1px solid white;
    justify-content: space-between;
    align-items: center;
} 
.logofooter{
    border: 1px solid white;
    flex-direction: row;
    align-items: center;
    background-color: azure;
    height: 20px;
    width: 50px;
    padding-left: 7px;
    
}
.buttonfooter{
    border: 1px solid white;
    flex-direction: row;
    align-items: center;
    background-color: azure;
    height: 20px;
    width: 50px;
}

.foto{
 width: 600px;

}
.content-text2, h1{
    font-size:40px;
    line-height: 50px;
    padding-top: 15px;
}
.content-text2, p{
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
}
#titolo5{
    text-align: center;
}
.trafiletto{
    text-align: center;
}
.foto2{
    width: 1000px ;
}
#ready{
    text-align: center;
    font-size: 25px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 30px;
}
.star{
    width: 500px;
    margin: 0 auto;
}
   #download{
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border: none; 
    background-color: rgb(114, 137, 218);
   }
   #download a {
    color: white;
    font-size: 17px;
    padding-right: 12px;
   }
   .buttondownload{
    margin: auto;
    width: 200px;
   }
   .col1 h1{
    color: rgb(114, 137, 218);
    font-size: 25px;
    padding-bottom: 20px;
    line-height: 30px;
    padding-top: 30px;
   }
   .flag{
    height: 15px;
   }
   .select{
    color: white;
   }
   .column-list{
    list-style: none;
    padding-left: 25px;
    padding-top: 25px;
   }
   .element-col{
    padding-top: 25px;
    text-decoration: none;
   }
   #text-blu{
    color: rgb(114, 137, 218);
   }
  #logo-social{
  color: white;
  font-size:20px;
  padding-top: 20px;
  padding-left: 3px;
  }
 